<style>
 .template-page{
  background-color:#2D2017;
  }
 #shopify-section-header{
  background-color: white;
 }
 #shopify-section-footer{
  background-color: white;
 }
.main-content{
 background-color:#2D2017;
 margin-top:0px;
}

.page-title{
 color: #868686; 
}
</style>
<br>
<h1 class="page-title">{{ page.title }}</h1>



<div class="page-content rte" style="background-color:#2D2017;">
  {{ page.content }}
  <br>
</div>

